In [84]:
import pandas as pd
import numpy as np
import librosa as rosa
import soundfile as sf

In [85]:
file_name = 'unbalanced_keyboard.csv'

In [86]:
data = pd.read_csv(file_name,names=['id','class1','class2','class3'])

In [87]:
display(data.head())
display(data.tail())
display(data[0:20])

                     id             class1  class2  class3
0    Y-6AOy8GAMpM_60_70  Computer keyboard  Typing     NaN
1    Y-7OvXNt9sjE_50_60  Computer keyboard  Typing     NaN
2    Y-8CwWdltmxM_30_40  Computer keyboard  Typing     NaN
3  Y-8YnBKXbV3Q_230_240  Computer keyboard   Music     NaN
4  Y-C3O23xBX4c_260_270  Computer keyboard  Typing  Speech

                        id             class1  class2  class3
1917  Yzl3OnWjr3Y4_140_150  Computer keyboard  Typing  Speech
1918     Yzo8PdcFsLeg_0_10  Computer keyboard  Typing     NaN
1919    Yzp_fMUGoCCE_30_40  Computer keyboard     NaN     NaN
1920  Yzr6lVRyyax0_250_260  Computer keyboard  Speech     NaN
1921     YztI9tn8Lfnk_9_19  Computer keyboard  Typing     NaN

                      id             class1  class2  class3
0     Y-6AOy8GAMpM_60_70  Computer keyboard  Typing     NaN
1     Y-7OvXNt9sjE_50_60  Computer keyboard  Typing     NaN
2     Y-8CwWdltmxM_30_40  Computer keyboard  Typing     NaN
3   Y-8YnBKXbV3Q_230_240  Computer keyboard   Music     NaN
4   Y-C3O23xBX4c_260_270  Computer keyboard  Typing  Speech
5   Y-CYano2F4Qw_210_220  Computer keyboard  Typing     NaN
6     Y-E_kI8jY2_0_30_40  Computer keyboard  Typing     NaN
7   Y-ErvbxxipEs_120_130  Computer keyboard  Speech     NaN
8      Y-Gz3fJ1ZDCQ_0_10  Computer keyboard  Typing  Inside
9     Y-HeRZSisQLY_30_40  Computer keyboard  Typing     NaN
10    Y-LR6jZzVFHs_50_60  Computer keyboard  Typing     NaN
11  Y-N985spfu2I_520_530  Computer keyboard  Typing  Speech
12  Y-NxqVRP5zf8_580_590  Computer keyboard  Typing  Speech
13  Y-Q2luSN2Xj4_490_500  Computer keyboard  Typing     NaN
14    Y-S6D9Slv13A_10_20  Computer keyboard  Speech     NaN
15    Y-VD6if3BpnE_30_40  Computer keyboard  Typing  Speech
16  Y-WNELSjjnJc_450_460  Computer keyboard  Typing     NaN
17    Y-Y2mUYakV6U_30_40  Computer keyboard  Typing     NaN
18  Y-ZJ_0JGR28E_270_280  Computer keyboard  Typing     NaN
19    Y-Zj5r422dHw_20_30  Computer keyboard  Typing     NaN

In [56]:
for idx in data.head().index:
    item = data.loc[idx+20]
    print(item.id)
    display(item)

Y-b1bMK154QU_280_290

id        Y-b1bMK154QU_280_290
class1       Computer keyboard
class2                  Typing
class3                  Speech
Name: 20, dtype: object

Y-cKbOLMm0yo_0_10

id        Y-cKbOLMm0yo_0_10
class1    Computer keyboard
class2               Typing
class3                  NaN
Name: 21, dtype: object

Y-dhS0qbpMqM_30_40

id        Y-dhS0qbpMqM_30_40
class1     Computer keyboard
class2               Sampler
class3                 Music
Name: 22, dtype: object

Y-dnyDT9Fzmg_400_410

id        Y-dnyDT9Fzmg_400_410
class1       Computer keyboard
class2                  Typing
class3                     NaN
Name: 23, dtype: object

Y-hRSfJiYfwY_70_80

id        Y-hRSfJiYfwY_70_80
class1     Computer keyboard
class2                Typing
class3                   NaN
Name: 24, dtype: object

In [81]:
list_name = data['id'].tolist()
list_id = [x[1:12] for x in list_name]
print(list_id[:5])

['-6AOy8GAMpM', '-7OvXNt9sjE', '-8CwWdltmxM', '-8YnBKXbV3Q', '-C3O23xBX4c']

In [88]:
list_start = [x.split('_')[-2] for x in list_name]
list_end = [x.split('_')[-1] for x in list_name]

print(list_start[:5])
print(list_end[:5])

['60', '50', '30', '230', '260']
['70', '60', '40', '240', '270']

## Separate Typing Only class

In [119]:
for idx in data.head().index:
    item = data.loc[idx+20]
    print(item.id)
    display(item.class3)
    display(type(item.class3) is float and pd.isna(item.class3))

Y-b1bMK154QU_280_290

'Speech'

False

Y-cKbOLMm0yo_0_10

nan

True

Y-dhS0qbpMqM_30_40

'Music'

False

Y-dnyDT9Fzmg_400_410

nan

True

Y-hRSfJiYfwY_70_80

nan

True

In [114]:
x=float('nan')
pd.isna(x)

True